{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_community/story_card

    TODO describe template story_card

    Example context (json):
    {
    }
}}
<section class="section-3 py-[48px]">
            <div class="stories-grid ff-open-sans">
{{#stories}}
    <div class="group relative rounded-md shadow-lg overflow-hidden ff-open-sans" style="max-width:280px; max-height: 320px;"><img
            class="object-cover rounded-md"
            src="{{imageurl}}"
            alt="student"
            style="max-width: 280px;" />
        <div class="absolute bg-white w-full bottom-0 left-0 z-10 p-[16px] h-[100px] group-hover:h-full transition-all duration-500 ease-in-out overflow-hidden">
            <div style="height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                <div>
                    <div class="flex gap-4 items-center mb-4">
                        <img
                            class="hidden group-hover:flex h-0 w-[50px] group-hover:h-[50px] rounded-[50%] transition-all duration-700 ease-in-out"
                            src="{{imageurl}}"
                            alt="school logo" />
                        <div>
                            <h1 class="text-primary-text-color font-[700] leading-[32px]" style="font-size: 20px;">{{name}},
                                {{class}}</h1>
                            <p class="text-[#8A96A9] font-[400] leading-[32px]" style="font-size: 16px;">{{event}}</p>
                        </div>
                    </div>
                    <div class="hidden group-hover:flex flex-col transition-all duration-700 ease-in-out">
                        <h2 class="text-primary-text-color font-[700] leading-[32px]">{{descriptionbold}}</h2>
                        <p class="">{{description}}</p>
                    </div>
                </div>
                <div class="flex gap-4 mt-16" style="display: none;">
                    {{#badges}}
                        <div class="relative group/child w-fit"><img
                                class="hidden group-hover:flex h-0 w-[50px] group-hover:h-[50px] rounded-[50%] transition-all duration-700 ease-in-out"
                                src="https://img.pikbest.com/origin/09/35/50/10NpIkbEsTxKi.png!w700wp"
                                alt="school logo" />
                            <div
                                class="absolute hidden group-hover/child:flex text-nowrap -top-8 left-0 w-fit bg-gray-800 text-white text-center text-sm p-2">{{title}}</div>
                        </div>
                    {{/badges}}
                </div>
            </div>
        </div>
    </div>
{{/stories}}
</div>
</section>